<div class="container bg-primary text-light p-2">
  <div class="row p-4 company-container">

    <div class="col-12 col-md-6">
      <div class="d-flex justify-content-center justify-content-md-start">
        <em class="fa fa-2x fa-amazon"></em>
        <span class="pl-1">COMPANY</span>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="d-flex justify-content-center justify-content-md-end">
        <a class="pr-4 " href="http://facebook.com"><em  class="fa fa-align-center fa-facebook"></em></a>
        <a class="pr-4 " href="http://instagram.com"><em class="fa fa-align-center fa-instagram"></em></a>
        <a class="pr-4 " href="http://twitter.com"><em   class="fa fa-align-center fa-twitter"></em></a>
        <a class="pr-4 " href="http://linkedin.com"><em  class="fa fa-align-center fa-linkedin"></em></a>
        <a class="pr-4 " href="http://youtube.com"><em  class="fa fa-align-center fa-youtube"></em></a>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-6 col-md-3">
      <h6 class="text-uppercase text-center font-weight-bold">Jakub Śpiewak</h6>
      <hr class="border-light">
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Metus vulputate eu scelerisque felis imperdiet.</p>
    </div>

    <div class="col-6 col-md-3">
      <h6 class="text-uppercase text-center font-weight-bold">Products</h6>
      <hr class="border-light">
      <div>
        <p>Product 1</p>
      </div>
      <div>
        <p>Product 2</p>
      </div>
      <div>
        <p>Product 3</p>
      </div>
      <div>
        <p>Product 4</p>
      </div>
      <div>
        <p>Product 5</p>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <h6 class="text-uppercase text-center font-weight-bold">Useful links</h6>
      <hr class="border-light">
      <div class="pb-3">
        <a class="pb-3" href="http://wikipedia.com"><em class="fa fa-wikipedia-w"></em> Wikipedia</a>
      </div>

      <div class="pb-3">
        <a href="http://GitHub.com"><em class="fa fa-github"></em> GitHub</a>
      </div>

      <div class="pb-3">
        <a href="http://TripAdvisor.com"><em class="fa fa-tripadvisor"></em> TripAdvisor</a>
      </div>

      <div class="pb-3">
        <a href="http://Reddit.com"><em class="fa fa-reddit"></em> Reddit</a>
      </div>

      <div>
        <a href="http://IMDb.com"><em class="fa fa-imdb"></em> IMDb</a>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <h6 class="text-uppercase text-center font-weight-bold">Contact</h6>
      <hr class="border-light">
      <div class="pb-3">
        <em class="fa fa-home"></em>
        Gliwice, 44-100
      </div>
      <div class="pb-3">
        <em class="fa fa-phone"></em>
        +48 700-123-456
      </div>
      <div class="pb-3">
        <em class="fa fa-envelope-o"></em>
        info@example.com
      </div>
    </div>
  </div>
</div>
